a {
    text-decoration: none;
}

.content {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form > * {
    border: 1px solid blue;
}

.form-header, .form-footer {
    flex: 1;
}

.form-section {
    padding-left: 30px;
    border: 1px solid orange;
}

.form-section.form-header {
    padding-bottom: 64px;
    padding-right: 128px;
}

.form-section.form-data {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-section.form-footer {
    padding-top: 20px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
}

.form-column {
    display: flex;
    flex-direction: column;
}

.form-row input {
    width: 250px;
    height: initial;
}

.form-row label {
    width: 250px;
    margin-top: 7px;
}

.form-header {
    display: flex;
    align-items: flex-end;
}

.form-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

fieldset {
    border: 0px;
    padding: 0px;
}

legend {
    font-size: 24px;
    padding-bottom: 10px;
}

input {
    border: 0.5px solid #e9e9f2;
    border-radius: 4px;
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: solid 1px #7f7fb4;
}

.pwd:invalid {
    border: 1px solid red;
}

.error {
    border: 1px solid red;
}

.create-account {
    background-color: #596D48;
    color: white;
    padding: 16px 48px;
    border-radius: 8px;
    border: none;
}